<!DOCTYPE html>
<html>
    <head>
        <title>Weather App</title>
        <link rel='icon' href="imgs/cloud.png">
        <link rel="stylesheet" href="css/style.css">
        
    </head>
    <body>
        <div class="main-content">
            {{> header}}
            <p>Use this site to get your weather</p>
            <form type="Submit">
                <input placeholder="address" name='address'/>
                <button>Search</button>
            </form>
            <p id="firstMsg"></p> 
            <p id="secondMsg"></p> 
        </div>
        {{> footer}}
        <script src="scripts/app.js"></script>
    </body>
</html>